#home {
  background: url("../images/jeans_header.jpg") no-repeat center;
  background-size: cover;
  height: 600px;
  margin-top: 5px
}

.headline {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.black-background {
  background-color: rgb(50,50,50);
}
.lead {
  color: #aba000ff;
  font-variant: small-caps;
}

.links-bar {
  padding: 36px 0;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-variant: small-caps;
}

.links-bar>div {
  border-right: 2px dashed #aba000ff;
}

.links-bar div:last-child {
  border: none;
}

.style-above {
  font-size: 36px;
  font-variant: small-caps;
  color: #aba000ff;
}
#waist {
    padding-bottom: 72px ;
    padding-top: 48px ;
}
#bestFit {
    background-color: #eeeeee ;
    padding-bottom: 72px ;
    padding-top: 96px ;
}

#bestFit h1 {
  padding-bottom: 24px ;
}

.waist-background {
  background-color: #ffffff;
  /* height: 360px; */
}

.waist-text {
  padding: 36px 0px ;
}

.icon-container {
  background-color: #2f2f2fff;
  border-radius: 100px;
  width: 160px;
  margin: 0 auto;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-container>img {
  width: 60px;
  height: auto;
}

.text-container {
  padding: 20px 0;
}

.highlight {
  color: #aba000ff;
}

.dotted-icon {
  position: absolute;
  margin: 0;
  width: 50px;
  right: -60%;
  top: 22%;
  font-size: 36px;
  color: #aba000ff;

}

.jeans-images {
  background-size: cover;
  height: 400px;
  margin-top: 5px;
  display:flex ;
  justify-content: center;
  align-items: center;
}
.jeans-slim {
  background: url("../images/jeans1.jpeg") no-repeat center;
}
.jeans-skinny {
  background: url("../images/jeans2.jpeg") no-repeat center;
}
.jeans-straight {
  background: url("../images/jeans3.jpeg") no-repeat center;
}

.jeans-footer {
  padding-top: 24px ;
}

.dash-color {
  color: #aba000ff ;
}
.small-caps {
  font-variant: small-caps;
}

#contact {
  /* height: 500px; */
  padding: 36px 0;
  color: white;
  background: url('../images/jeanstexture.jpg') center;
}

#contact p {
  padding: 10px 9%;
  font-size: 20px;
}

.register {
  display: flex;
  justify-content: flex-end;
}

.register-btns {
  margin: 36px 16px;
  width: auto;
}

.register-btn {
  font-size: 36px;
}

form {
  padding: 0 9%;
}

label {
  display: block;
}

input {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .dotted-icon {
    display: none;
  }
  .links-bar>div {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}
