#home {
  background: url("../images/jeans_header.jpg") no-repeat fixed center;
  background-size: cover;
  /* height: 1200px; */
  margin-top: 5px}

.headline>h1 {
  line-height: 200px ;
  margin-top: 100px ;
  align-content: center;
}
